// HEADING //
// heading.less //

.heading{
	position: relative;
}
.heading__wrapper{
	@column_Rules();
}
.heading__wrapper--post-link{
	position: relative;
	display: block;
	padding: 0 @column_Padding;
}

.heading__logo{
	// TODO: account for other sizes?
	.custom-logo{
		height: @s8*24;
		max-width: 100%;
	}
}
.heading__title{}
.heading__rule{
	&:extend(.hr--short);
}
.heading__subtitle{}

.heading__menu{}
.heading__menu-list{
	.menu-list();
}

.heading__featured-media{
	.absolute();
	background: @backgroundFull_Overlay;
	z-index: -1;
}
.heading__img{
	height: 100%;
	width:  100%;
	object-fit: cover;
	opacity: 0.2;
}




// POST LIST //
.heading--post-list{
	.heading__featured-media{
		border-radius: @border_Radius;
		overflow: hidden;
	}
	.heading__tags{
		padding: 0 @column_Padding;
	}
}

// POST PAGE //
.heading--post-page{}
