// HEADING //
// heading.less //
// .heading--has-featured-media | .heading--lacks-featured-media

.heading_Height(@viewHeight: 70){
	height: @viewHeight *1vh;
	height: calc(@1vh * @viewHeight);
}

.heading{
	position: relative;
}
.heading__wrapper{
	@column_Rules();
	padding-top: 0;
	padding-bottom: @s8; 
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.heading__site-title{
	margin: @s12 -@s16;
	// .heading4_Type();
}

.heading__logo{
	margin: @s32 0;
	// TODO: account for other sizes?
	.custom-logo{
		height: @s8*24;
		max-width: 100%;
		filter: drop-shadow( 0px 3px 6px @textShadow_Color);
		// opacity: @fgPrimary_Opacity;
	}
}
.heading__title{
	margin: 0;
	margin-bottom: @s16;
}
.heading__rule{
	&:extend(.hr--short);
	margin: 0;
	margin-bottom: @s16;
}
.heading__subtitle{
	.subtitle_Type();
	margin: 0;
	margin-bottom: @s32 * 2;
}

.heading__menu{
	margin-bottom: @s8;
}
.heading__menu-list{
	.menu-list();
	margin: 0 -@s16;
}
// .heading__menu-list li:first-child a{
// 	&:extend(button.button--fill);
// }

.heading__featured-media{
	.absolute();
	background: @bgOverlayLg_Gradient;
	z-index: -1;
}
.heading__img{
	height: 100%;
	width:  100%;
	object-fit: cover;
	opacity: 0.2;
}
.heading__cover-link{
	display: block;
	.absolute();

	z-index: 1;
}
.heading__meta,
.heading__tags{
	position: relative;
	z-index: 2;
}

.heading__meta{
	.subtitle_Type();
	display: inline;
}
.heading__flex-splitter{
	flex: 1 1 auto;
}



// ARCHIVE //
.heading--archive{}

// HOME //
.heading--home{
	.heading__wrapper{
		.heading_Height();
	}
}

// PAGE //
.heading--page{
	.heading__wrapper{
		.heading_Height();
	}
}

// POST PAGE //
.heading--post-full{
	.heading__wrapper{
		.heading_Height();
		
	}
	.heading__tags{
		margin-right: -@s16;
		margin-left:  -@s16;
	}
}

// ADJACENT POST //
.heading--post-adjacent{
	.heading__wrapper{
		.heading_Height();
		justify-content: center;
	}
	.heading__tags{
		margin-right: -@s16;
		margin-left:  -@s16;
	}
}
.heading__primary-button{
	margin: 0 -@s16;
	z-index: 2;
}

// POST LIST //
.heading--post-list{
	&.heading--has-featured-media{
		.heading__wrapper{
			.heading_Height(30);
		}
	}
	.heading__wrapper{
		position: relative;
		padding: 0 @column_Padding;
	}
	.heading__featured-media{
		border-radius: @border_Radius;
		overflow: hidden;
	}
	.heading__tags{
		// padding: 0;
		margin-right: (@column_Padding - @s16);
		margin-left:  (@column_Padding - @s16);
	}
}

// SEARCH //
.heading--search{}
.heading__searchform{
	margin: 0 -@s16;
}

