.post__content{
	img{ // TODO: svg, embed, figure, ???
		border-radius: @borderMd_Radius;
	}
}

.full-width(){
	width: @columnLg_MaxWidth; // TODO: put in sizes.vars.less
	max-width: calc(100vw - (@column_PaddingVar * 2));
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	// width: 100vw;
	// margin: @paragraph_VerticalMargin @column_PaddingVar;
	// margin: @column_PaddingVar;
	// left: calc(-50vw + 50%); // magic!

	// TODO: media query that sets it to normal?

	img&
	figure&
	// object&
	{
		display: block;
	}
}
.section-full-width{
	width: 100vw;
	max-width: initial;
	position: relative;
	left: calc(-50vw + 50%); // magic!
	margin: @paragraph_VerticalMargin 0;
	background-color: @bgOverlay_Color;
}
.column{
	@column_Rules();
}
.column--lg{
	max-width: calc(@columnLg_MaxWidth + (@column_PaddingVar * 2)); 
}


/* WordPress Core
// https://codex.wordpress.org/CSS#WordPress_Generated_Classes
-------------------------------------------------------------- */

// MEDIA SIZES
.size-thumbnail{}
.size-medium{}
.size-large{}
.size-full{}

// ALIGNMENTS
.alignnone {
	.full-width();
}

.aligncenter,
div.aligncenter 
{
	// text-align: center; // TODO: ?
    display: block;
    margin: 0 auto;
}

.alignright {
	// text-align: right; // TODO: ?
    float:right;
	margin-left: 1.5em;
	margin-bottom: 1em;
}

.alignleft {
	// text-align: left; // TODO: ?
    float: left;
	margin-right: 1.5em;
	margin-bottom: 1em;
}


a img.alignright {}
a img.alignnone {}
a img.alignleft {}
a img.aligncenter {}

.wp-caption {
	img{
		border-radius: initial;
		display: block;
	}

	> :nth-child(n){
		display: block;
		background-color: @bgOverlay_Color;
		margin-bottom: @s1;
		overflow: hidden; // TODO: something better here..
	}

	> :first-child{
		border-radius: @borderMd_Radius @borderMd_Radius 0 0 ;
	}
	> :last-child{
		border-radius: 0 0 @borderMd_Radius @borderMd_Radius;
	}
}

.wp-caption-text{
	padding: @s8 @s16;
	.bodySm_Type();
}

.wp-caption.alignnone {
	text-align: initial;
}

.wp-caption.alignleft {
	text-align: left;
}

.wp-caption.alignright {
	text-align: right;	
}

.wp-caption img {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

.wp-caption p.wp-caption-text {}

