.post__content{
	// position: relative;

	img{ // TODO: svg, embed, figure, ???
		border-radius: @borderMd_Radius;
	}

}

.alignout.alignout{ // not wp standard

	@horizontal_Margin: @column_Padding;
	@horizontal_Margin2x: @horizontal_Margin * 2;

	max-width: initial;
	width: calc(100vw - @horizontal_Margin2x);
	margin: 0 @horizontal_Margin; // 50% is relative to parent's width
	position: relative;
	left: calc(-50vw + 50%); // magic!

	// TOD0: media query that sets it to normal
}

.alignout--block.alignout--block{
	width: 100vw;
	max-width: initial;
	position: relative;
	left: calc(-50vw + 50%); // magic!

	padding: 1em @column_Padding;
	background-color: @bgOverlay_Color;
}

.column{
	@column_Rules();
}


/* WordPress Core
// https://codex.wordpress.org/CSS#WordPress_Generated_Classes
-------------------------------------------------------------- */
.alignnone {
	// margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter 
{
    display: block;
    margin: 0 auto;
}

.alignright {
    float:right;
	margin-left: 1.5em;
	margin-bottom: 1em;
}

.alignleft {
    float: left;
	margin-right: 1.5em;
	margin-bottom: 1em;
}


a img.alignright {}
a img.alignnone {}
a img.alignleft {}
a img.aligncenter {}

.wp-caption {
	img{
		border-radius: initial;
		display: block;
	}

	> :nth-child(n){
		display: block;
		background-color: @bgOverlay_Color;
		margin-bottom: @s1;
		overflow: hidden; // TODO: something better here..
	}

	> :first-child{
		border-radius: @borderMd_Radius @borderMd_Radius 0 0 ;
	}
	> :last-child{
		border-radius: 0 0 @borderMd_Radius @borderMd_Radius;
	}
}

.wp-caption-text{
	padding: @s8 @s16;
}

.wp-caption.alignnone {
	text-align: initial;
}

.wp-caption.alignleft {
	text-align: left;
}

.wp-caption.alignright {
	text-align: right;	
}

.wp-caption img {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

.wp-caption p.wp-caption-text {}

