// FOOTER //
// footer.less //

.footer{
	background: @bgOverlayLg_Gradient;
	padding-top: @s1 0;
	border-top: @s1 solid @bgOverlay_Color;
	border-bottom: @s1 solid @bgOverlay_Color;
	background-clip: padding-box;

}
.footer__items{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -@button_Padding;
	padding-top: @s12;

	.searchform, .footer__menu{
		margin-bottom: @s12;
	}
	
	.searchform{
		flex: 1 1 auto;
	}
	.searchform__input:not(:hover):not(:active):not(:focus){
		// .input--no-outline();
		border-color: @bgOverlay_Color;
	}
}
.footer__column{
	@column_Rules();
	padding: 0 @column_PaddingVar;
}
.footer__menu{
	flex: 0 0 auto;
	flex-wrap: wrap;
	max-width: 100%;
	z-index: 0;
}
.footer__menu-list{
	.menu-list();
	.menu-item{
		margin: 0;
	}
}
.footer__menu-link{}
