// nav-primary.less

// TODO: put all colors in a colors.vars.less file

@nav_Margin: @s8;

.nav__button{
	.absolute(0 0 x x);
	z-index: @navButton_Zindex;
	margin: @nav_Margin;
}


.nav{
	.absolute(0 0 x x);
	max-width:  calc(100% - (@nav_Margin*2));
	max-height: calc(100% - (@nav_Margin*2));
	z-index: @nav_Zindex;
	background-color: @primaryBg_Color;
	border-radius: @border_Radius;
	margin: @nav_Margin;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.nav__header{
	background: @background_Overlay;

	height: @button_Size;
	padding: 0 @s16;
	display: flex;
	align-items: center;
	flex: 0 0 auto;	
}
.nav__footer{
	background: @background_Overlay;
	padding: 0 @s16;
	display: flex;		
	flex: 0 0 auto;
}
.nav__menu{
	padding: 0 @s16;
	flex: 1 1 auto;
}

.nav__overlay{
	.absolute(-20px);
	background-color: black;
	opacity: 0.5;
	z-index: @navOverlay_Zindex;
}

// STATES //
.jsState-navOpen{
	.nav__overlay, .nav{
		display: block;		
	}
}

.jsState-navClosed{
	.nav__overlay, .nav{
		display: none;
	}
}

