// nav-primary.less
@nav_Margin: @s8;

.nav__button{
	.absolute(0 0 x x);
	z-index: @navButton_Zindex;
	margin: @nav_Margin;
}
.nav__icon{
	margin: -@icon_Size/2;
	.transition(opacity transform)
}

.nav{
	.absolute(0 0 x x);
	width: @s8 * 50; // effectively min-width
	max-width:  calc(100% - (@nav_Margin*2));
	max-height: calc(100% - (@nav_Margin*8));
	z-index: @nav_Zindex;
	background-color: @bgPrimary_Color;
	border-radius: @border_Radius;
	margin: @nav_Margin;

	display: flex;
	flex-direction: column;
	overflow: hidden;

	transform-origin: top right;
}
.nav__header{
	background: @bgOverlay_Gradient;

	padding-top: @s32;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;	
}
.nav__footer{
	// background: @bgOverlay_Gradient;
	padding: @s8 @s16;
	display: flex;		
	flex: 0 0 auto;
	.searchform{
		flex: 1 1 auto;
	}
}
.nav__menu{
	padding: @s16 0 @s8;
	flex: 1 1 auto;
	overflow: scroll;
}
.nav__menu-list{
	padding: 0;
	margin: 0;

	.sub-menu{
		border-left: @border_Size solid @fgWeaker_Color;
		padding: 0;
		margin-left: @s32; 
	}
}
.nav__link{
	display: flex;
	padding: @s8 @s32;
	margin-bottom: @s1;
}

.nav__logo{
	margin-bottom: -@s8;
	padding: 0 @s32;
	z-index: 1;
	.custom-logo{
		height: @s8*8;
		max-width: 100%;
		filter: drop-shadow( 0px 2px 3px @textShadow_Color);
	}
}
.nav__site-title{
	.heading4_Type();
	padding: @s12 @s32;
}

.nav__overlay{
	.absolute(-20px);
	background-color: black;
	opacity: 0;
	z-index: @navOverlay_Zindex;
}


// STATES //
// .jsState-navClosed{ // closed by default
	.nav{
		opacity: 0;
		transform: scale(0.8);
		.transition(opacity transform, @visibility: hidden);
		transition-timing-function: @panelTransitionOut_Timing;
		transition-duration: @panelTransitionOut_Duration;
	}
	.nav__overlay{
		opacity: 0;
		.transition(opacity, @visibility: hidden);
	}

	// BUTTON //
	.nav__button{
		// &:extend( .button--fill all, .button--outline all ); // too specific
		// .button--fill();
		// .button--outline();
	}
	.nav__close-icon{
		opacity: 0;
		transform: rotate(0deg);
	}
	.nav__open-icon{
		opacity: 1;
		transform: rotate(0deg);
	}
// }

.jsState-navOpen{
	.nav{
		opacity: 1;
		transform: scale(1);
		.transition(opacity transform, @visibility: visible);
		transition-timing-function: @panelTransitionIn_Timing;
	}
	.nav__overlay{
		opacity: 0.6;
		.transition(opacity, @visibility: visible);
	}

	// BUTTON //
	.nav__button{}
	.nav__close-icon{
		opacity: 1;
		transform: rotate(360deg);
	}
	.nav__open-icon{
		opacity: 0;
		transform: rotate(360deg);
	}
}



