// heading.less

.heading{
	background-color: @background;
}
.heading__wrapper{
	margin: 0 auto;
	max-width: @column_MaxWidth;
}
.heading__logo{
	// max-height: @s8*12;
	// max-width: @s8*12;
	.custom-logo{
		// max-width: ;
		height: @s8*32;
		max-width: 100%;
	}
}
.heading__title{}
.heading__rule{}
.heading__description{}
.heading__menu{}
