// SEARCH FORM //
// searchform.less //

.searchform{
	display: flex;
	align-items: center;
}
.searchform__input{
	padding-right: @buttonLg_Size + @s4;
	// flex: 1 0 auto;
}
.searchform__button{
	margin-left: -@buttonLg_Size;
	z-index: 0;
}