@s1:  1px;
@s2:  2px; // (@s8 * 0.25);
@s4:  4px; // (@s8 * 0.50);
@s6:  6px; // (@s8 * 0.75);
@s8:  8px; // ROOT SIZE //
@s10: 10px; // (@s8 * 1.25);
@s12: 12px; // (@s8 * 1.50);
@s16: (@s8 * 2);
@s24: (@s8 * 3);
@s32: (@s8 * 4);
@s40: (@s8 * 5);

@icon_Size: 14px; // @s12 -1; // TODO: change later
@button_Size: @s32;
@buttonLg_Size: @button_Size + @s8;
@border_Size: @s2;
@borderSm_Size: @s1;
@border_Radius: (@button_Size / 2);
@borderSm_Radius: @s4;
@borderMd_Radius: @s8;

@1vh: var(--vh, 1vh); // vh-unit.js

// this must match $content_width in ./functions.php
@content_Width: @s8*110;

@column_MaxWidth: @content_Width;
@columnLg_MaxWidth: @s8*160;
@column_Padding: @s32;
@column_Rules:{
	margin: 0 auto;
	max-width: @column_MaxWidth;
	padding: @s32 @column_Padding;
};
@paragraph_VerticalMargin: 1rem;

.inlineBackground_Spacing(
	@top:    0.25em;
	@bottom: 0.1em;
	@sides:  0.4em;
) {
	padding: @top @sides @bottom;
	margin-bottom: -@bottom;
	margin-top: -@top;
}


// MEDIA QUERIES //
@mobile_Breakpoint:  700px;  // < 768px
@tablet_Breakpoint:  1100px; // < 1080px
@laptop_Breakpoint:  1400px; // > 1366px
@desktop_Breakpoint: 2000px; // > 1920px
@tv_Breakpoint:      9999px; // ???

@mobilePlusOne_Breakpoint: (@mobile_Breakpoint + 1);
@state-mobile: ~'screen and (max-width: @{mobile_Breakpoint})';
@state-not-mobile: ~'screen and (min-width: @{mobilePlusOne_Breakpoint})';
