button, 
[type="button"], 
[type="reset"], 
[type="submit"],
.button
{
	
	// RESETS //
	-webkit-appearance: none;
	border: initial;
	background: initial;
	margin: 0;
	// padding: 0;
	outline: 0;

	height: @button_Size;
	padding: 0 @s16;
	display: flex;
	align-content: center;
	justify-content: center;
	.transition(color);

	&.button--icon{
		width: @button_Size;
		padding: 0;
	}

	position: relative;
	&::before, 
	&::after{
		content: '';
		.absolute(0);
		z-index: -1;
		border-radius: @border_Radius;
		.transition(opacity transform background-position background-color);
	}

	&::after{
		// background-color: black;
		border: @border_Size solid fade(black, 20%);
		background-color: white;
		background-image: linear-gradient(-45deg, @accentDeep_Color, @accentPrimary_Color, transparent, transparent);
		@bgSize: (4 - 1) * 100%;
		background-size: @bgSize @bgSize;
		background-position: 0% 0%;
		opacity: 1;
	}
	// normal - nothing, fill or outline
	// hover - gradient, larger scale
	// active - darker gradient, smaller scale
	// focus - outline

	&.button--fill{
		&::before{
			background-color: pink;
		}
	}
	&.button--outline{
		&::before{
			border-color: gray;			
		}
	}


	&:hover{
		color: white;
		&::after{
			@buttonHover_Scale: unit((@button_Size + @s4) / @button_Size);
			transform: scale(@buttonHover_Scale);
			opacity: 1;
			background-position: 50% 50%;
			background-color: @accentBright_Color;
			transition-duration: @hover_Duration;
		}
	}

	&:active{
		color: white;
		&::after{
			@buttonHover_Scale: unit((@button_Size - @s4) / @button_Size);
			transform: scale(@buttonHover_Scale);
			opacity: 1;
			background-position: 100% 100%;
			background-color: @accentBright_Color;
			transition-duration: @active_Duration;
		}
	}
}