
.pagination{
	border-top: @s1 solid @fgWeaker_Color;
}
.pagination__column{
	@column_Rules();
	padding: @s8 @column_PaddingVar;
}
.pagination__menu{
	display: flex;
	align-items: baseline;
	margin: 0 -@button_Padding;
}
.pagination__primary-button{
	flex: 0 0 auto;
}
.pagination__label{
	flex: 1 1 auto;
	text-align: right;
	margin-right: @s8;
}
.pagination__link{
	flex: 0 0 auto;	
}
.pagination__title{
	.heading5_Type();
	margin: 0 @button_Padding;
}