
.pagination{
	border-top: @s1 solid @tertiary_Color;
}
.pagination__nav{
	@column_Rules();
	padding-top:    @s4;
	padding-bottom: @s4;
	display: flex;
}
.pagination__primary-button{
	flex: 0 0 auto;
}
.pagination__label{
	flex: 1 1 auto;
	text-align: right;
}
.pagination__link{
	flex: 0 0 auto;	
}
