// about--skillset.scss

// --------------------------------------------------------------- VARS
$progressHeight: 15%;
$titleHeight: 10%;
$skillTextHover: rgba(white,0.8);
$skillBG:$colorBlack2;
$skillBGHover:$colorBlack8;

// --------------------------------------------------------------- ELEMENT STYLES
.skill, .set-title, .subskill{
	display:block;
	float: left;
	overflow:hidden;
	position:relative;
	background: $skillBG;
	text-align: left;
	color: $colorBlack9;
	@include fontCaps;
	@include transition();
	// @include transition(all, .1s);

	&:hover{
		background: $skillBGHover;
		figcaption{
			color: $skillTextHover;
		}
	}

	figure{
		@include absoluteFill;
		&::before{ // .progress bar 100% space
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: currentColor;
			opacity: 0.5;
			height: $progressHeight;
		}
	}

	figcaption{
		position: absolute;
		bottom: $progressHeight;
		width: 100%;
		height: $titleHeight;
		// padding: .3em;
		// line-height: 20px;
		text-align: center;
		color: currentColor;
	}

	.icon-capsule{
		position: absolute;
		right: 0;
		transform: scale(0.6);
		transform-origin: top right;
		display: none; // do i really need this ??? - won't it divert attention?
	}

}

$logoDimensions:55%;
.logo{
	width: $logoDimensions;
	height: $logoDimensions;
	position: absolute;
	top: (100 - $progressHeight - $titleHeight + 2) / 2;
	left: 50%;
	transform: translate(-50%,-50%);
	fill: currentColor; 
}

.progress{
	position: absolute;
	width: 50%;
	bottom: 0;
	left: 0;
	background: currentColor;
	height: $progressHeight;
	padding: .5em;
	@include fontNumbers;
	span{
		color: $skillTextHover;
	}
}

// --------------------------------------------------------------- MODS
.skillsubset{
	display:block;
	float: left;
	position:relative;
	background: $colorBlack1;
	ul{
		@include absoluteFill;
	}
}

.set-title{
	background: none;
	figure::before{
		background: none;
	}
	&:hover{
		background: $colorBlack7;
	}
	&:hover ~ .subskill{
		background: $skillBGHover;
	}
}

#list-design{
	figure::before{
		background: none;
	}
	.logo{
		width: auto;
		height: $logoDimensions - 15;
	}
	.skill:hover .logo{
		fill:$colorAccent;
	}
}

// --------------------------------------------------------------- DESIGN SKILLS SIZES
#logo-color-theory
,#logo-iconography
,#logo-branding
,#logo-packaging
,#logo-illustration
{
	.logo{width: auto; height:$logoDimensions - 10;}
}

#logo-typography
,#logo-ux
,#logo-ui
,#photography
,#logo-photography
,#logo-layout
,#logo-info-62
{
	.logo{width: auto; height:$logoDimensions - 20;}
}



#adobe-software ul, #google-software ul{
	ul{padding-top: $boxMargins;}
}
// --------------------------------------------------------------- MEDIA QUERIES
@include screenSize(L) {
	.skill, .set-title, .subskill{
		@include postRows(6, $boxMargins, 1, false);
	}
	#adobe-software{
		@include postRows(2.01, $boxMargins, .667);
		margin-left: 0;
		ul{padding-top: $boxMargins*2;}
		.set-title, .subskill{
			@include postRows(3, $boxMargins*2.2, 1);
		}
	}
	#google-software{
		@include postRows(3, $boxMargins, 1);
		ul{padding-top: $boxMargins*3;}
		.set-title, .subskill{
			@include postRows(2, $boxMargins*2.9, 1);
		}
	}
}
@include screenSize(M,L) {
	.skill, .set-title, .subskill{
		@include postRows(4, $boxMargins, 1, false);
	}
	#list-software{
		li:nth-child(3) { margin-right: 0; }
		.set-title, .subskill{
			@include postRows(4, $boxMargins, 0.975);
		}
	}
	#adobe-software{
		@include postRows(1.985, $boxMargins, 1.495);
		margin-left: 0;
		ul{padding-top: $boxMargins*3;}
		.set-title, .subskill{
			@include postRows(2, $boxMargins*3, 1);
		}
	}
	#google-software{
		@include postRows(2, $boxMargins, 1);
		ul{padding-top: $boxMargins*3;}
		.set-title, .subskill{
			@include postRows(2, $boxMargins*3, 1);
		}
	}
}
@include screenSize(S,M) {
	.skill, .set-title, .subskill{
		@include postRows(3, $boxMargins, 1, false);
	}
	#list-software{
		> li:nth-child(3) { margin-left: 0; }
	}
	#adobe-software{
		@include postRows(1, $boxMargins, .667);
		.set-title, .subskill{
			@include postRows(3, $boxMargins, 1);
		}
	}
	#google-software{
		@include postRows(1.5, $boxMargins, 1);
		.set-title, .subskill{
			@include postRows(2, $boxMargins, 1);
		}
	}
}
@include screenSize(0,S) {
	.skill, .set-title, .subskill{
		@include postRows(2, $boxMargins, 1, false);
	}
	#adobe-software{
		@include postRows(1, $boxMargins, 1.5);
		.set-title, .subskill{
			@include postRows(2, $boxMargins, 1);
		}
	}
	#google-software{
		@include postRows(1, $boxMargins, 1);
		.set-title, .subskill{
			@include postRows(2, $boxMargins, 1);
		}
	}
}



