// blog-page.scss

// --------------------------------------------------------------- POST HOVER STATE STYLES MIXIN
@mixin postActiveState {
	footer,h2{
		opacity: 1;
		@include transform( translate(0,0));
		> p{
			@include transform( translate(0,0));
			opacity: 1;
			@for $i from 1 through 6 {
				&:nth-child(#{$i}) { 
					transition-delay:(0.1s * $i + 0.1s); 
				}
			}
		}
	}
	a.post-permalink{
		opacity: 0;
	}
	img{ // --------------------------------------------------------------------< IMG HERE
		opacity:0.5;
		@include transform( translate(-50%,-50%) scale(0.95));
	}
	.image-overlay{
		opacity: 0;
	}
}

// --------------------------------------------------------------- POST LINKS
// wraps each post link 
.post-link{ 
	// backface-visibility: hidden;
	display:block;
	float: left;
	overflow:hidden;
	position:relative;
	background: $backgroundGradientDown;
	text-align: left;
	color: white;

	// ----------------------------------------- POST LINK MEDIA QUERIES
	@include screenSize(0,S) { 
		@include postRows(1, $boxMargins, 0.6);
		h2{
			font-size: 3rem;
			span{
				font-size: 1rem;
			}
		}
	}
	@include screenSize(S,M) { 
		@include postRows(1, $boxMargins, 0.4);
		h2{
			font-size: 3.5rem;
			span{
				font-size: 1.5rem;
			}
		}
	}
	@include screenSize(M,L) { 
		@include postRows(2, $boxMargins);
		h2{
			font-size: 3rem;
			span{
				font-size: 1.25rem;
			}
		}
	}
	@include screenSize(L,XL) {
		@include postRows(3, $boxMargins);
		h2{
			font-size: 4rem;
			span{
				font-size: 1.5rem;
			}
		}
	}
	@include screenSize(XL) {
		@include postRows(4, $boxMargins);
		h2{
			font-size: 4rem;
			span{
				font-size: 1.5rem;
			}
		}
	}
	@include screenSize(0,L) { .image-overlay { display: none; } }

	// ------------------------------------------- POST LINK ELEMENTS
	picture
	,.image-overlay
	{
		@include absoluteFill;
	}
	.image-overlay{
		background: black;
		background: $backgroundGradientOverlay;
		z-index:index($z-of,'.image-overlay');
		opacity:0.5;
		@include transition();
	}

	img, h2, footer, a.post-permalink{ // --------------------------------------< IMG HERE
		position:absolute;
		display: block;
		@include transition();
	}
	img{ // --------------------------------------------------------------------< IMG HERE
		height: 110%;
		z-index:index($z-of,'.post-link img');
		opacity: 0.9;
		top:0;
		left:0;
		top:50%;
		left:50%;
		@include transform( translate(-50%,-50%));
		// height: auto;
	}
	h2{
		z-index:index($z-of,'.post-link h2');
		padding:$textMargins;
		margin-top:0;
		margin-right:0;
		margin-bottom:0;
		color:white;
		span{
			@include fontSubheading;
			padding-left: 	$textMargins / 3;
			padding-right: 	$textMargins / 3;
			padding-top: $textMargins / 2;

		}
	}
	.post-permalink{
		bottom:0;
		top:0;
		left:0;
		right:0;
		opacity: 0;
		z-index:index($z-of,'.post-link footer a.post-permalink');
	}
	footer{
		width: 101%; // extra 1% to try and delete that black line - kinda works
		bottom:-1%;

		@include dimension(1,min-height);
		// @include dimension(1,padding-right);
		padding-left:$textMargins;
		padding-right:$textMargins;

		z-index:index($z-of,'.post-link footer');
		background: $colorBG;
		color:$colorBlack5;
		@include transform( translateY(100%));
		transition-delay:0.025s;
		opacity: 0;
		p{
			@include fontCaps;
			&:first-child{
				padding-top: $textMargins / 2;
				@include screenSize(S) {
					padding-top: $textMargins;
				}
			}
			&:last-child{
				padding-bottom: $textMargins / 2;
				@include screenSize(S) {
					padding-bottom: $textMargins;
				}
			}
			@include transition();
			@include transform( translate(0,1em));
			opacity: 0;
		}
	}

	// ----------------------------------------- MORE POST LINK MEDIA QUERIES
	@include screenSize(0,L) {
		img{ // --------------------------------------------------------------------< IMG HERE
			opacity: 0.65;
		}
		&.info-is-active{
			@include postActiveState;
		}
	}
	@include screenSize(L) {
		footer{
			padding-right: 1rem;
			min-height: 0;
		}
		h2{
			@include transform( translate(0,-1em));
			opacity: 0;
		}
		&:hover{
			@include postActiveState;
		}
	}
	@include screenSize(0,M) {
		img{
			height:auto;
			width: 110%;
		}
	}

}
