// contact--form.scss
// custom css for the contact form 7 wp plugin

#contact-invitation{
	color: $colorBlack5;
	text-align: center;
	line-height: 1em;
	a{
		text-transform: none;
	}
}

.wpcf7{ // WordPress Contact Form 7 wrapper class

}

.wpcf7-form{ // WordPress Contact Form 7 form class
	@include clearfix();
}

$contactPadding:.5rem;
.contact-field, .contact-area, .contact-button{
	display: block;
	float: left;
	margin-bottom: $boxMargins;

	input, textarea{
		@include fontCaps;
		padding: $contactPadding;
		width: 100%;
		outline: none;
		@include transition();
	}	
	input{}
	textarea{
		@include inputPlaceholder {text-transform: uppercase;}
		text-transform: none;
		resize: vertical;
	}
}

.contact-field, .contact-area{
	input, textarea{
		background: $colorPolaris2;
		border: 0;
		&:hover, &:focus{
			background: $colorPolaris1;
			color: $colorText;
			@include inputPlaceholder {color: white;}
		}
	}
}

.contact-field{
	@include fontCaps;
	@include screenSize(M){
		width: 50% - ($boxMargins/2);
		&:nth-child(2n + 1){
			margin-left: $boxMargins;
		}
	}
	@include screenSize(0,M){
		width: 100%;
	}
}

.contact-area{
	width: 100%;
}

.contact-button{
	width: 100%;
	input{
		@extend .post-edit-link;	
		margin:0;
	}
}

#contact-name{}
#contact-email{}
#contact-subject{}
#contact-test{}
#contact-captcha{
	position: relative;
	img{
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: auto;
	}
}
#contact-message{}
#contact-submit{}	


