// footer.scss

#footer{
	@include fontCaps;
	width: 100%;
	background: $colorFooterBG;
	padding-bottom: $textMargins;
	text-align: center;
	color: $colorBG;
	font-size: 10px;
	overflow: hidden;
}

.foot-nav{
	padding-top: 	$menuPadding;
	padding-bottom: $menuPadding;
	width: 100%;
	background: $colorFooterBG;
	ul{
		display: flex;
		justify-content: center;
	}
	li{
		display: block;
	}
	a{
		margin: 0;
		padding-right: 20px;
	}
	li:last-child a{
		padding-right:0;
	}
}

#copyright a{
	color: $colorBlack2;
	&:hover, &:focus{
		color: $colorBlack4;
	}
	&:active{
		color: $colorAccent;
	}
}

// --------------------------------------------------------------- HTML & BODY COLORS
html{ background: $colorFooterBG; } 	// dark
body{ background: $colorBG; }			// with light on top
