// js-pic-row.scss

.pic-row{
	width: 100%;
	margin-top: $imgMargins; // these margins are used in the pic-row plugin's js
	margin-bottom: $imgMargins;

	picture{
		display: block;
		font-size: 0;
		float: left;

		img {
			width: 100%;
			display: block;
		}
	}
	
}