// menu--nav.scss

// --------------------------------------------------------------- LOGO
#home-link {
	display: block;
	@include screenSize(0,S) {
		margin: 0 $sideMarginsNavS;
		img{
			width: $menuWidth - ($sideMarginsNavS * 2) - ( $menuPadding * 2 );
		}
	}
	@include screenSize(S,L) {
		margin: 0 $sideMarginsNavM;
		img{
			width: $menuWidth - ($sideMarginsNavM * 2) - ( $menuPadding * 2 );
		}
	}
	@include screenSize(L) {
		margin: 0 $sideMarginsNavL;
		img{
			width: $menuWidth - ($sideMarginsNavL * 2) - ( $menuPadding * 2 );
		}
	}
}

// --------------------------------------------------------------- NAV ICONS
.icon-nav{
	position: absolute;
	top:0;
	left:0;
	&::before{
		@include transition();
		content: '';
		border-radius: 50%;
		position: absolute;
		top:50%;
		left:50%;
		cursor: pointer;
	}
}


// --------------------------------------------------------------- NAV LETTERING
#header-wrapper #nav{
	@include screenSize(L) {	margin-top: $sideMarginsL; }
	@include screenSize(S,L) {	margin-top: $sideMarginsM; }
	@include screenSize(0,S) {	margin-top: $sideMarginsS; }
}


.nav{
	a{	
		position: relative;
		z-index: index($z-of, '#nav ul li a');
		@include transition();
		display: block;

		color: $colorDarkText;
		&:hover{
			color: $colorDarkTextHover;
			.icon-nav::before{
				@include transform(scale(1.1)); 
			}
		}
		&:active{
			color: $colorDarkTextActive;
			@include transition(all, $activeTiming);
			.icon-nav::before{
				@include transform(scale(0.95));
				@include transition(all, $activeTiming);
			}
		}
	}
	.current-menu-item{
		a{	
			color: $colorDarkTextCurrent;
			&:hover, &:active{
				color: $colorDarkTextCurrent;
				.icon-nav::before{
					@include transform(scale(1));
					background: $colorIconCenterCurrent;
					border-color: $colorIconBorderCurrent;
				}
			}
		}
	}
}

#header-wrapper .menu-item a{
	@include screenSize(L) {	margin-top: -20px; 	}
	@include screenSize(S,L) {	margin-top: -10px; 	}
	@include screenSize(0,S) {	margin-top: 10px; 	}
}

// --------------------------------------------------------------- NAV BOTTOM FIELDS
// applys to li #seach-form in menu--search-form.scss
.nav-bottom{ 
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
}
