// menu.scss


// --------------------------------------------------------------- WRAPPER
#wrapper {
	width: 100%;
	@include transform( translateX(0));
	@include transition();
}

#wrapper.menu-is-active{
	@include transform( translateX($menuWidth) );
	// -webkit-filter: blur(2px); // ¡WARNING! slows preformance to a crawl...
}

body{
	overflow-x: hidden;
}

// --------------------------------------------------------------- BLANKET
#blanket{
	// visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: index($z-of, '#blanket');
	background-color: $colorBG;
	opacity: 0;
	@include transition(transform, 0.001s);
	@include transition(opacity);
	@include transform(translateX(110%));
	overflow: hidden;
	// TODO - make a keyframe for the animation so the out isn't so harsh
}
#blanket.menu-is-active{
	opacity: 0.5;
	@include transform(translateX(0));
}


// --------------------------------------------------------------- MENU (HEADER)
#header-wrapper{
	position: relative;
	margin-left: $menuPadding;
	margin-right: $menuPadding;
	height: 100%;
	min-height: $menuMinHeight;
	@include screenSize(L) {
		padding-top: $sideMarginsL;
	}
	@include screenSize(S,L) {
		padding-top: $sideMarginsM;
	}
	@include screenSize(0,S) {
		padding-top: $sideMarginsS;
	}
}
#header{
	overflow-y: scroll;
	z-index: index($z-of, '#header');
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	width: $menuWidth;
	// TODO - make header scroll better on really short screens

	@include transition($backface:visible); // backface visible becasue position:fixed;backface:hidden; firefox bug
	background: $colorBlack9;
	
	// off-screen
	@include transform( translateX(-100%));
	h1, span, #home-link img, #nav > ul > li{
		@include transition();
		@include transform(translateX(-50px));
		opacity: 0;
	}
}

#header.menu-is-active{

	// on-screen
	@include transform( translateX(0));
	h1, span, #home-link img, #nav > ul > li{
		@include transform(translateX(0));
		opacity: 1;
	}
	$delayLogoTransition: 0.25s;
	#home-link img{
		transition-delay:$delayLogoTransition;
	}
	#nav > ul > li{ 			
		@for $i from 1 through 6 {
			&:nth-child(#{$i}) { 
				transition-delay:(0.075s * $i)+$delayLogoTransition; 
			}
		}
	}
}
