// adjacent-posts.scss
// very similar to the post-links

@mixin postActiveStateAdj{ // currently only used once at the bottom
		@include postActiveState;
		.nav-arrow-tall-right{
			@include transform(translate(0,0) )
		}
		.nav-arrow-tall-left{
			@include transform(translate(0,0) )
		}	
}

#adjacent-posts{
	.post-link.only-post{
		@include screenSize(M) {
			@include postRows(1, $boxMargins, 0.4);
		}
		@include screenSize(L) {
			@include postRows(1, $boxMargins, 0.25);
		}
		img{
			height: auto;
			width: 110%;
		}
	}
	.post-link{
		@include screenSize(L) {
			@include postRows(2, $boxMargins, 0.666);
			.nav-arrow-tall{
				opacity:0;
			}
			&:hover{
				.nav-arrow-tall{
					opacity: 1;
				}
			}
		}
		h2 .prev-next{
			@include fontCaps;
			font-size: 1rem;
			display: block;
			padding-top: 0;
			padding-bottom: $textMargins / 2;

		}
		.nav-arrow-tall{
			z-index: index($z-of, '#adjacent-posts .nav-arrow-tall');
			position: absolute;
			stroke: #fff;
			stroke-width: 3px;
			transition-delay: 0.1s;
			margin:$textMargins;
			@include screenSize(L) {
				$thisWidth:45px;
				width: $thisWidth; 
				height: $thisWidth * 3;
			}
			@include screenSize(S,L) {
				$thisWidth:30px;
				width: $thisWidth; 
				height: $thisWidth * 3;
				margin-left:$textMargins / 2;
				margin-right:$textMargins / 2;
			}
			@include screenSize(0,S) {
				$thisWidth:20px;
				width: $thisWidth; 
				height: $thisWidth * 3;
				margin-left:$textMargins / 3;
				margin-right:$textMargins / 3;
			}
		}
	}
	.right-post{
		text-align: right;
		h2{
			right: 0;
		}
		h2, .post-meta-data{
			@include dimension(1,padding-right);
		}
		.nav-arrow-tall{
			top: 0;
			right: 0;
		}
	}
	.left-post{
		text-align: left;
		h2{
			left: 0;
		}
		h2, .post-meta-data{
			@include dimension(1,padding-left);
		}
		.nav-arrow-tall{
			top: 0;
			left: 0;
		}
		.info-toggle{
			left:0;
		}
	}
	@include screenSize(L) {
		.right-post{
			h2, .post-meta-data > p{
				@include transform( translate(-3em,0) );
			}
		}
		.left-post{
			h2, .post-meta-data > p{
				@include transform( translate(3em,0) );
			}
		}
		.nav-arrow-tall-right{
			@include transform(translate(50px,0) )
		}
		.nav-arrow-tall-left{
			@include transform(translate(-50px,0) )
		}
		.left-post,.right-post{
			&:hover{
				@include postActiveStateAdj;

			}
		}
	}
}