// single-content.scss

#post-content{
	min-height: 200px;
	@include dimension(1,margin-left, margin-right,padding-bottom);
	margin-bottom: $textMargins;

	> picture, > img{
		width: 100%;
		margin-top: $imgMargins;
		margin-bottom: $imgMargins;
	}
	picture{
		img{
			width: 100%;
		}
	}
	// // for long paragraphs ?? Make a specal class??
	// @include screenSize(L) {
	// 	p{
	// 		column-count: 2;
	// 	}		
	// }
}

#post-content-rule{
	// content: '';
	// width: 100%;
	height:2px;
	position: absolute;
	left:0;
	right: 0;
	// bottom: 10px;
	background: $colorBlack5;
	margin-top: 0;
	margin-bottom: -1px;
	@include dimension(1,margin-left, margin-right);
	@include dimension(.5,bottom);
}

article.post{
	position: relative;
}
.scroll-down, .scroll-to-top{
	position: absolute;
	right: 0;
	&::after{
		@include fontCaps;
		width: 200px;
		position: absolute;
		bottom: 100%;
		left:50%;
		@include transition();
		@include transform(translate(0,5px) rotate(-90deg));
		transform-origin: left;
		-webkit-font-smoothing: antialiased;
	}
}

// --------------------------------------------------------------- SCROLL BUTTONS	
.scroll-down{
	bottom: $headerBottomMargin;
	z-index: index($z-of, '.scroll-down');
	&::after{
		content: 'Scroll Down';
	}
	@include dimension(-0.5, margin-bottom);
}
.scroll-to-top{
	bottom: 0;
	&::after{
		content: 'Scroll To The Top';
	}	
}
@include screenSize(L){
	.scroll-down, .scroll-to-top{
		&::after{
			opacity: 0;
			visibility: hidden;
			@include transform(translate(0,30px) rotate(-90deg));
		}
		&:hover::after{
			opacity: 1;
			visibility: visible;
			@include transform(translate(0,15px) rotate(-90deg));
		}
	}
}

@media screen and (max-height: 450px){
	picture{
		height: ($headerPictureHeightSmall - $headerMargins);
	}
}
