// single.scss

$headerBottomMargin:5%;
$headerPictureHeight:100% - $headerBottomMargin;

$headerBottomMarginSmall:7%;
$headerPictureHeightSmall:100% - $headerBottomMarginSmall;

#post-header, #about-header, #contact-header{
	position: relative;
	display: block;
	width: 100%;
	// height: 100%; // doesn't actually work - see 'jquery.viewportSize.js'
	overflow: hidden;
	color: white;

	picture{
		margin: $headerMargins $headerMargins 0 $headerMargins;
		width: (100% - ($headerMargins * 2));
		height: ($headerPictureHeight - $headerMargins);
		overflow: hidden;
		background: $backgroundGradientUp;
		img{
			opacity: 0.4;
		}
	}
	
	h1, footer, .icon-capsule{
		position: absolute;
	}
	h1{
		bottom:$headerBottomMargin;
		left: 0;
		max-width: 80%;
		@include dimension(1,margin-left, margin-right);
		margin-bottom:4rem; 
		color: inherit;
		span{
			@include fontSubheading;
			padding-top: $textMargins;
		}
	}

	@include screenSize(L) {
		h1{
			font-size: 6rem;
			span{
				font-size: 3rem;
			}
		}
	}
	@include screenSize(M,L) {
		h1{
			font-size: 4.5rem;
			span{
				font-size: 2.25rem;
			}
		}
	}
	@include screenSize(0,M) {
		h1{
			font-size: 3.5rem;
			span{
				font-size: 1.75rem;
			}
		}
	}
	
	footer{
		top:0;
		right:0;
		width: 100%;
		@include dimension(1,min-height);
		@include transition();
		padding-left: $textMargins*2;
		padding-right: $textMargins*2;
		@include screenSize(L) {
			padding-top: $textMargins;
		}
		color: $colorBlack7;
		a{
			color:$colorBlack9;
			&:hover,&:focus{
				color:$colorBlack8;
			}
			&:active{
				color:$colorBlack0;
			}
		}
		p{
			@include fontCaps;
			text-align: right;
			&:first-child{
				padding-top: $textMargins / 2;
				@include screenSize(S) {
					padding-top: $textMargins;
				}
			}
			&:last-child{
				padding-bottom: $textMargins / 2;
				@include screenSize(S) {
					padding-bottom: $textMargins;
				}
			}
		}
	}
	@include screenSize(0,L) {
		footer{
			background: $colorBG;
			color: $colorBlack5;
			@include dimension(1,padding-left, padding-right);
			// padding-top: $textMargins*1.5;
			@include transform(translate(0,-100%));
		}
		&.info-is-active{
			footer{
				@include transform(translate(0,0));
			}
		}
	}
	.info-toggle{
		top: 0;
		right: 0;
	}
}





