// with-admin-bar.scss
// these are this things that only I will see...

body.admin-bar  {
	#header, #menu-toggle, #blanket{
		top: 46px;
		@media screen and (min-width: 783px){
			top:32px;
		}
	}
	.scroll-to-top{
		bottom: 20px;
	}
}

.post-edit-link{
	@include fontCaps;
	display: block;
	padding: 5px 10px;
	margin: $boxMargins;
	text-align: center;

	@include transition();
	border: 2px solid $colorBlack5;
	color: $colorBlack5;
	background: rgba($colorAccent,0);
	&:hover{
		border: 2px solid $colorBlack9;
		color: $colorBG;
		background: rgba($colorBlack9,1);
	}
	&:active{
		@include transition(all, .005s);
		border: 2px solid $colorAccent;
		color: $colorBG;
		background: rgba($colorAccent,1);
	}
}