
body{
	.transition(opacity, linear, @exitAnimation_Duration);
	
	&.jsState-styleUnloaded {
		opacity: 0; 
	}

	&.jsState-styleLoaded {
		opacity: 1; 
	}
}

.post-list{
	transform: translate3d(0, 100px, 0); 
	.transition(opacity transform outline-color, ease, @exitAnimation_Duration);
	.jsState-styleLoaded &{
		transform: translate3d(0,0,0); 
	}
}

.jsTarget-transitionEnd{
	opacity: 0;
	.transition(opacity, ease, @exitAnimation_Duration);
}
.jsState-styleLoaded .jsTarget-transitionEnd{
	opacity: 1;
}
