
@post_Spacing: @s8*8;

.post-list{ // actually in index.php
	@column_Rules();
	padding: @post_Spacing @s1;
}

.post__content{
	padding: 0 @column_Padding;
}

// FULL POST OR PAGE //
.post--full{
	.post__content{
		@column_Rules();
	}
}


// POST IN A LIST //
.post--in-list{
	margin-bottom: @post_Spacing;
}
.post__primary-button{
	margin: 0 @column_Padding - @s4;
}
