
@post_Spacing: @s8*8;

.post-list{ // actually in index.php
	@column_Rules();
	padding: @post_Spacing @s1;
}

.post__content{
	padding: 0 @column_PaddingVar;
}

// FULL POST OR PAGE //
.post--full{
	.post__content{
		@column_Rules();
	}
}

.post__edit{
	display: flex;
	justify-content: center;
}
.post__edit-button{
	// margin: @s8 auto;
}

.post-pagination{
	// border-top: @s1 solid @bgOverlay_Color;
	border-top: @s1 solid @bgOverlay_Color;

	padding: @s48 0 @s32;
}
.post-pagination__label{
	.strong_Type();
}
.post-pagination__column{
	@column_Rules();
	padding-top:    0;
	padding-bottom: 0;
}
.post-pagination__title{
	margin: 0
}


// POST IN A LIST //
.post--in-list{
	margin-bottom: @post_Spacing;
}
.post__primary-button{
	margin: 0 -@border_Size - @s2;

}
